# 1. If and Nested If-Else Statements
## 1. Grade Evaluator
#### Input student marks and output grades:
#### o =90: A
#### o 80–89: B
#### o 70–79: C
#### o <70: F

In [7]:
grade=int(input("Enter the grade : "))
if(grade>=90 and grade<=100):
    print("A")
elif(grade>=80 and grade<90):
    print("B")
elif(grade>=70 and grade<80):
    print("C")
else:
    print("F")

Enter the grade :  45

F

## 1 Leap Year Checker
#### Check if a given year is a leap year using nested if-else.

In [12]:
year=int(input("Enter the Enter : "))

if(year%4==0):
    print(" leap year ")
else:
    print("Normal year")

Enter the Enter :  2024

 leap year

## 3. Largest of Three Numbers
#### Take three numbers and find the largest using nested if-else.

In [15]:
num1=int(input("Enter the number : "))
num2=int(input("Enter the number : "))
num3=int(input("Enter the number : "))

if(num1>num2 and num1>num3):
    print(f"{num1} is largest")
    
elif(num2>num1 and num2>num3):
    print(f"{num2} is largest")
    
else:
    print(f"{num3} is largest")

Enter the number :  8
Enter the number :  4
Enter the number :  3

8 is largest

## 4. Traffic Light Simulator
#### Input a color (red, yellow, or green) and display appropriate action: STOP, WAIT, GO.

In [5]:
color=input("Enter the color for traffic light simulator :")

check=color.lower()

if(check=="red"):
    print("Stop")
    
elif(check=="yellow"):
    print("Wait")
    
elif(check=="green"):
    print("Go")

Enter the color for traffic light simulator : yEllow

Wait

## 5. Simple Calculator with Conditions
#### Accept two numbers and an operator (+, -, *, /) and compute the result using nested conditions.

In [7]:
num1=int(input("Enter the first number  :"))
num2=int(input("Enter the second number :"))

operator=input("Enter the operator :")

if(operator=="+"):
    print(num1+num2)

if(operator=="-"):
    if(num1>num2):
        print(num1-num2)

    else:
        print(num2-num1)

if(operator=="*"):
    print(num1*num2)

if(operator=="/"):
    if(num1>num2):
        print(num1/num2)

    else:
        print(num2/num1)

Enter the first number  : 6
Enter the second number : 2
Enter the operator : -

4

-----------------

# 2. Loops (for, while)
## 1. Sum of First N Numbers
#### Input n, output the sum of first n natural numbers using for loop.

In [11]:
n=int(input("Enter the n  number  :"))
Sum=0
for i in range(1,n+1,1):
    Sum=Sum+i


print("The sum of n ",Sum)

Enter the n  number  : 100

The sum of n  5050

## 2. Factorial Finder
#### Find the factorial of a number using while loop

In [7]:
number=int(input("Enter the number to find the factorial  : "))

fact=1

i=1

while(i<=number):
    fact=fact*i
    print(fact)
    i+=1

Enter the number to find the factorial  :  5

1
2
6
24
120

## 3. Multiplication Table Generator
####  Print the multiplication table of a number

In [12]:
num1=int(input("Enter the table  number  :"))

for i in range(1,11,1):
    print(f"{num1} X {i} = {num1*i}")

Enter the table  number  : 5

5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
5 X 10 = 50

## 4. Fibonacci Series
#### Print the first n terms of the Fibonacci sequence.

In [26]:
n=int(input("Enter the n prime number  :"))


first=0
second=1

for i in range(0,n):
    print(first)
    Sum=first+second
    first=second
    second=Sum

Enter the n prime number  : 10

0
1
1
2
3
5
8
13
21
34

## 5. Prime Number Between 1 to N
#### Input n, print all prime numbers up to n.

In [22]:
n=int(input("Enter the n prime number  :"))


for i in range(2,n+1):
    is_prime=True
    for j in range(2,i):
        if(i%j==0):
            is_prime=False
    if is_prime:
        print(i)

Enter the n prime number  : 30

2
3
5
7
11
13
17
19
23
29

-----------------

# 3. Built-in Functions
## 1. List Stats
#### Given a list of numbers, use built-in functions to find max, min, sum, and average.

In [20]:
list=[7,3,5,32,2,90,4]

print("max",max(list))

print("min",min(list))

print("sum",sum(list))

print("Average",a)

max 90

## 2. String Case Counter
#### Input a string and use built-ins to count uppercase and lowercase letters.

In [27]:
letter=input("Enter the String : ")

print()
print(letter.upper())
print()
print(letter.lower())

Enter the String :  hello world

HELLO WORLD

hello world

## 3. Sorted Even Numbers
#### From a list of integers, extract even numbers and return them sorted in descending order

In [4]:
even=[4,6,12,16,18,20,2,8,10]

print(sorted(even, reverse=True))

[20, 18, 16, 12, 10, 8, 6, 4, 2]

## 4. Custom Round-off
#### Input a float, round it to two decimal places using built-in round().

In [34]:
deci=22/7
print(deci)
print()
print(round(deci,2))

3.142857142857143

3.14

## 5. ASCII Value Finder
#### Input a character and find its ASCII value using ord().

In [5]:
char=input("Enter the character : ")

print(ord(char))

Enter the character :  r

114

-----

## 4.Strings and String Operations
#### 1. Palindrome Checker
#### Check if the input string is a palindrome (e.g., madam, racecar)

In [16]:
string=input("Enter the string : ")

if(string==string[::-1]):
    print("The string is palindrome")
else:
      print("The string is not  palindrome")

Enter the string :  madam

The string is palindrome

## 2. Word Frequency Counter
#### Count the frequency of each word in a sentence

In [40]:
string="this is most common programming language "

print("i :",string.count("i"))
print("m :",string.count("m"))

i : 3
m : 5

## 3. Vowel and Consonant Counter
#### Count how many vowels and consonants are in a string.

In [20]:
string=input("Enter the string : ")

vowels='aeiou'

vowels_count=0
consonants_count=0

for char in string:
    if char.isalpha():
        if char in vowels:
            vowels_count=vowels_count+1
        else:
            consonants_count=consonants_count+1


print("Vowels " ,vowels_count)
print("Consonants " ,consonants_count)

Enter the string :  hello

Vowels  2
Consonants  3

## 4. Remove Punctuation
#### Input a sentence and remove punctuation from it.

In [41]:
string=input("Enter the Sentence  : ")

print(string.replace(":",""))

Enter the Sentence  :  helo!

helo

## 5. Longest Word Finder
#### Input a sentence and find the longest word.

In [24]:
string=input("Enter the Sentence  : ")

words=string.split()

largest=max(words , key=len)

print(largest)

Enter the Sentence  :  the python is programming languages

programming

---

# 5. Python Lists
## 1. List Reverser
#### Reverse a list without using [::-1] or reverse()

In [56]:
L1=[2,3,4,5,6,7,8]
lenth=len(L1)-1
for i in range(lenth,0,-1):
    print(L1[i])

8
7
6
5
4
3

## 2. Duplicate Remover
#### Remove all duplicate elements from a list.

In [44]:
L1=[2,3,2,1,2,5,3,1,5]

L2=[]
for i in L1:  
    if i not in L2:
        L2.append(i)

print(L2)

[2, 3, 1, 5]

## 3. Second Largest Element
#### Find the second largest number in a list.

In [19]:
L1=[20,30,40,50,60,70,80,10]

L1.sort()

print(L1[-2])

70

## 4. List Element Frequency
#### Print the frequency of each element in the list.

In [30]:
number=[10,20,10,20,30,10,30,40,50,20,]

frequency={}

for num in number:
    if num in frequency:
        frequency[num]+=1
    else:
        frequency[num]=1

for key in frequency:
    print(f"{key} occurs in {frequency[key]} times")

10 occurs in 3 times
20 occurs in 3 times
30 occurs in 2 times
40 occurs in 1 times
50 occurs in 1 times

## 5. Merge and Sort Lists
#### Merge two lists and sort the result without using sort().

In [36]:
L1=[2,3,4,5,6]
L2=[6,7,8,9,1]

mergeList=L1+L2

newlist=list(set(mergeList))

for i in range(len(newlist)):
    for j in range(i+1,len(newlist)):
        if newlist[i]>newlist[j]:
            newlist[i],newlist[j]=newlist[j],newlist[i]


print(newlist)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

----

# 6. Python Tuples
## 1. Tuple Swapper
#### Swap the values of two tuples.

In [38]:
a=(2,3,4,5)
b=(6,7,8,9)

a,b=b,a

print("a =" ,a)
print("b =" ,b)

a = (6, 7, 8, 9)
b = (2, 3, 4, 5)

## 2. Tuple Reverser
#### Reverse a tuple using slicing and verify the result.

In [41]:
L1=[2,3,4,5,6]

print(L1[::-1])

[6, 5, 4, 3, 2]

## 3. Tuple to String
#### Convert a tuple of characters into a single string.

In [44]:
T1=('p','y','t','h','o','n')

single=''.join(T1)

print(single)

python

## 4. Element Index Finder
#### Find the index of a user-input value in a tuple.

In [45]:
T1=("hello","world",2,4,5,6)
print(T1)

index=int(input("Find the index of value in Tuple : "))

print(T1[index])

('hello', 'world', 2, 4, 5, 6)

Find the index of value in Tuple :  3

4

## 5. Immutable Test
#### Try modifying a tuple element and observe the error. Explain why it happens

In [68]:
T1=(2,3,4,5,6)

T1[0]=100

print(T1)

TypeError: 'tuple' object does not support item assignment

-----------

# 7. Python Sets
## 1. Set Union and Intersection
#### Input two sets and print their union and intersection.

In [2]:
S1={2,3,4,5}
S2={1,3,4,9}

print("Union",S1.union(S2))
print("intersection",S1.intersection(S2))

Union {1, 2, 3, 4, 5, 9}
intersection {3, 4}

## 2. Unique Elements from List
#### Convert a list to a set and show how duplicates are removed.

In [47]:
list1=[1,2,3,4,5,6,7,1,2,3]

set1=set(list1)

print(set1)

{1, 2, 3, 4, 5, 6, 7}

## 3. Subset and Superset Check
#### Check whether one set is a subset or superset of another.

In [8]:
S1={1,3,4,9}
S2={3,4}

print(S2.issubset(S1))
print(S1.issuperset(S2))

True
True

## 4. Common Elements Finder
#### Given two lists, use sets to find common elements.

In [48]:
L1=[2,3,4,5,6]
L2=[6,7,8,9,1]

set1=set(L1)
set2=set(L2)

common=set1.intersection(set2)

print(common)

{6}

## 5. Symmetric Difference Demo
#### Show the symmetric difference between two sets and explain its meaning.

In [16]:
S1={2,3,4,5}
S2={1,3,10,9}

print("Symmteric diferrence",S2.symmetric_difference(S1))

Symmteric diferrence {1, 2, 4, 5, 9, 10}

----

# 8. Python Dictionaries
## 1. Student Gradebook
#### Store student names and grades in a dictionary. Allow lookup by name.

In [11]:
gradebook={
    "Jamal":80,
    "kamal":90,
    "khan":95
}

print(gradebook.keys())

name=input("Enter the name of Student  : ")


print(f"{name} grad is : {gradebook[name]}")

dict_keys(['Jamal', 'kamal', 'khan'])

Enter the name of Student  :  khan

khan grad is : 95

## 2. Word Counter
#### Count occurrences of each word in a paragraph using a dictionary.

In [20]:
text="hello, I am using this computer , to learn programming languages "

words=text.lower().replace(",","").split()

count={}

for word in words:
    count[word]=count.get(word,0)+1

print(count)

{'hello': 1, 'i': 1, 'am': 1, 'using': 1, 'this': 1, 'computer': 1, 'to': 1, 'learn': 1, 'programming': 1, 'languages': 1}

## 3. Frequency of Characters
#### Input a string and count character frequency using a dictionary.

In [14]:
string=input("Enter the string  :")

char={}
for word in string:
    char[word]=char.get(word,0)+1


print("character frequency : ",char)

Enter the string  : computer

character frequency :  {'c': 1, 'o': 1, 'm': 1, 'p': 1, 'u': 1, 't': 1, 'e': 1, 'r': 1}

## 4. Key with Max Value
#### From a dictionary of product:price, find the most expensive product.

In [8]:
product={
    "dgwatch":350,
    "Smwatch":400,
    "Agwatch":300
}

max_product=max(product,key=product.get)

print(product[max_product])

400

## 5. Merge Dictionaries
#### Merge two dictionaries and handle overlapping keys (e.g., sum values if same key).

In [6]:
d1={
    "dgwatch":350,
    "Smwatch":400,
    "Agwatch":300
}

d2={
    "mobile":5000,
    "headphones":600,
    "speaker":500,
}

merged=d1.copy()

for key ,value in d2.items():
    if key in merged:
        merged[key]+=value
    else:
        merged[key]=value

print(merged)

{'dgwatch': 350, 'Smwatch': 400, 'Agwatch': 300, 'mobile': 5000, 'headphones': 600, 'speaker': 500}

------