## 1. Print a simple message
#### python
#### Expected Output: Hello, World!

In [1]:
print("hello!, word")

hello!, word

## . Print multiple items in one statement
#### python
#### Example: Print your name, age, and city
#### Expected Output: Name: John, Age: 25, City: New York

In [10]:
name= "John"
age= 25
city= "New York"
print("Name : ",name,  "Age :",age , "City : ",city)

Name :  John Age : 25 City :  New York

## 3. Print using escape characters
#### python
#### Print a multi-line message using \n
#### Expected Output:
#### Welcome to Python!
#### Let's learn coding.

In [12]:
print("Welcome to Python! \nLet's learn coding.")

Welcome to Python!
Let's learn coding.

## 4. Print quotes inside a string
#### python
#### Expected Output: He said, "Python is amazing!"

In [1]:
print('He said ,"Python is amaing"')

He said ,"Python is amaing"

## 5. Print a pattern using stars
#### python
#### Expected Output:
#### *
#### **
#### ***
#### ****
#### *****

In [5]:
print("*")
print("**")
print("***")
print("****")
print("*****")
print("******")

*
**
***
****
*****
******

---

# Intermediate Output Exercises

## 6. Formatted string output using f-strings
#### python
#### Take a name and age as variables and print:
#### Hello, my name is John and I am 25 years old.

In [9]:
name = input("Enter your name : ")
age = input("Enter your age : ")
print(f"Hello, my name is {name } and I am {age} years old ")

Enter your name :  jhon
Enter your age :  25

Hello, my name is jhon and I am 25 years old

## 7. Print a table
#### python
#### Print a 5x5 multiplication table in a clean format

In [11]:
num=int(input("Enter the number : "))
for i in range(1,11,1):
    print(f"{num} X {i} = {i*num}")

Enter the number :  2

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
2 X 10 = 20

## 8. Align text with padding
#### python
#### Output three words in a column of width 10
#### Example:
#### Apple    Banana    Cherry

In [11]:
#Padding in python

# methods 01
#center :^
#left :<
#right :>

print(f"{'Apple' :<10}  {'Banana':^10}  {'Mango':>10}" )
print()

Apple         Banana         Mango

## 9. Output the result of a simple calculation
#### python
#### Print: 5 + 7 = 12

In [1]:
num1=5
num2=7
print(f"{num1} + {num2}={num1+num2}")

5 + 7=12

## 10. Print a formatted receipt
#### python
#### Use print statements to simulate a store receipt with:
#### - Item names
#### - Quantity
#### - Price
#### - Total

In [3]:
print("-item names \n -Quantity \n -Price \n -Total  ")

-item names
 -Quantity
 -Price
 -Total

---

# ✅ Basic Keyword Exercises (1–10)

## Print a list of some common Python keywords.

In [4]:
print(
    "i)  if \nii) else \niii) match \niv)  try \nv)   catch \nvi)  input \nvii) length \nviii) filter \nix)   while \n x)   for "
)

i)  if
ii) else
iii) match
iv)  try
v)   catch
vi)  input
vii) length
viii) filter
ix)   while
 x)   for

## 2. Print three keywords used for conditional statements in Python.

In [5]:
print("if")
print("elif")
print("else")

if
elif
else

## 3. Print three keywords used in loops.

In [8]:
print("for \nwhile \npass \ncontinue \nbreak ")

for
while
pass
continue
break

## 4. Print the Boolean keywords in Python

In [9]:
print("True \nfalse \nand \nor \nnot ")

True
false
and
or
not

## 5.Manually sort and print five keywords alphabetically

In [ ]:
key

## 6. Print the keywords that represent constant values.
#### (Expected: True, False, None)

In [13]:
num1=None
num2=(0)
num3=(1)

print(num1)
print(bool(num2))
print(bool(num3))

None
False
True

 ## 7.  Print keywords used for flow control.
#### (Expected: break, continue, pass)

In [14]:
print("break, continue, pass")

break, continue, pass

## 8. Create a print statement that uses the word if as part of the text.
#### Example Output: The keyword 'if' is used to check conditions.

In [18]:
num1=int(input("Enter a number to check it is even or odd : "))

if (num1%2==0):     
    print(f"The {num1} is even  ")
else:
    print(f"the {num1} is odd ")

Enter a number to check it is even or odd :  7

the 7 is odd

## 9. Make a table using print that shows 2 columns: Keyword | Use
Example:
pgsql
CopyEdit
Keyword | Use 
---------- | ------------------- 
if | Conditional check 
while | Loop 
break | Exit loop

In [20]:
print("keyword | uses ")
print("--------|--------")
print("if      | conditional check")
print("loop    | loop")
print("break   | Exit loop")

keyword | uses
--------|--------
if      | conditional check
loop    | loop
break   | Exit loop

## 10. Print all capital letter versions of 5 keywords.
#### e.g., IF, ELSE, WHILE, etc.

In [21]:
keyword="if, while, for, else, pass, catch"

upperCaseKeyword=keyword.upper()

print(upperCaseKeyword)

IF, WHILE, FOR, ELSE, PASS, CATCH

----

# ✅ Intermediate Conceptual Challenges (11–15)

## 11. Make a list (manually) of 10 Python keywords and print it

In [24]:
list=[
    "if",
    "else",
    "break",
    "for",
    "try",
    "catch",
    "pass"
    "continue",
    "while",
    "this"
]

print(list)

['if', 'else', 'break', 'for', 'try', 'catch', 'passcontinue', 'while', 'this']

## 12. Print 5 keywords that cannot be used as variable names

In [26]:
print("The keyword cannot to be used as variable")
print(" if\n while\n for\n class \n def")

The keyword cannot to be used as variable
 if
 while
 for
 class
 def

## 13. Print a sentence that uses 3 keywords (in plain text).
#### Example Output: Python uses if, else, and for to control the flow 
#### of code.

In [27]:
x=int(input("Please enter x : "))
y=int(input("Please enter y : "))

if(x>y):
    print(f"{x} is greater than {y}  ")
elif(y<x):
    print(f"{y} is greater than {x}  ")
else:
    print(f"{x} is equal to {y}  ")

Please enter x :  6
Please enter y :  4

6 is greater than 4

## 15. Write a short explanation (using print) of why we can’t use keywords as variable

In [29]:
print("We can't use Python keywords as variable names because they have special meanings.")

We can't use Python keywords as variable names because they have special meanings.

---

## 1. Take the user's name as input and print a welcome message.
#### Example:
#### Input: John 
#### Output: Hello, John!

In [30]:
name=input("What is your name : ")

print("Hello,",name)

What is your name :  john

Hello, john

## 2. Take two numbers as input and print their sum.

In [31]:
num1=int(input("Enter the first number : "))
num2=int(input("Enter the second number : "))
sum=num1+num2
print(sum)

Enter the first number :  8
Enter the second number :  -1

7

## 3. Ask the user for their favorite color and print it back

In [32]:
color=input("What is your favorite color :")

print("Great , ",color)

What is your favorite color : blue

Great ,  blue

## 4. Take the user’s age and print: “You are X years old.”

In [1]:
age =input("What is your age : ")

print("Your are ",age," year old")

What is your age :  9

Your are  9  year old

## 5. Ask the user for their city and country, then print: “You live in [City], 
[Country].”

In [2]:
city=input("What is your city name : ")
country=input("What is your country name : ")


print("You are live in " , city, country)

What is your city name :  Nowshera
What is your country name :  Pakistan

You are live in  Nowshera Pakistan

## 6. Take two numbers as input and print their difference.

In [4]:
num1=int(input("Enter the first number : "))
num2=int(input("Enter the second number : "))



if(num1>num2):
    difference = num1-num2
else:
    difference = num2-num1


print(difference)

Enter the first number :  6
Enter the second number :  4

2

## 7. Take a word as input and print it in uppercase

In [5]:
string=input("Enter the String : ")

upperCase =string.upper()
print(upperCase)

Enter the String :  nowshera

NOWSHERA

## 8. Take a sentence from the user and print how many characters it has.

In [1]:
prgph="i am using this computer since many years."
plen=len(prgph)
print(plen)

42

## 9. Take your school name as input and print a message: “I study at [School Name].”

In [6]:
schName=input("What is your School name : ")

print("I study at ",schName)

What is your School name :  GPGC Nowshera

I study at  GPGC Nowshera

## 10.Take the user’s first name and last name and print the full name

In [7]:
firstName=input("Enter your first name  : " )
lastName=input("Enter your last name  : " )

print(f"Hello, {firstName} {lastName}")

Enter your first name  :  john
Enter your last name  :  wick

Hello, john wick

## 11. Take the user’s age and print how old they will be after 5 years.

In [8]:
age =int(input("Enter your age : "))

newAge=age+5

print("You will be ",newAge," old after fiver years")

Enter your age :  5

You will be  10  old after fiver years

## 12. Ask the user for two numbers and print their product.

In [9]:
num1=int(input("Enter the first number : "))
num2=int(input("Enter the second number : "))

product=num1*num2

print(product)

Enter the first number :  4
Enter the second number :  4

16

## 13.Take a name and a hobby from the user and print a sentence: “Alex likes painting.”

In [10]:
name=input("Enter is Your name : ")
hobbies=input("What is Your hobbies : ")

print(name ," likes ",hobbies)

Enter is Your name :  john
What is Your hobbies :  cricket

john  likes  cricket

---

## 1. Convert a string "10" to an integer and add 5 to it.
#### Expected Output: 15

In [12]:
str="10"

integer=int(str)+5

print(integer)

15

## 2. Take a float number (like 7.9) as a string and convert it to a float.

In [13]:
str="7.9"

floatNumber=float(str)

print(floatNumber)

print(type(floatNumber))

7.9
<class 'float'>

## 3. Convert an integer 5 into a string and print "The number is 5" using string concatenation.

In [6]:
integerNumber=5

print(type(integerNumber))

string=str(integerNumber)

print(f"The number is  {string} ")


print(type(string))

<class 'int'>
The number is  5
<class 'str'>

## 4. Convert a float 3.14 to an integer and print the result.

In [16]:
num1=float(input("Enter the first number : "))

print(type(num1))

integerNUmber=int(num1)

print(integerNUmber)

print(type(integerNUmber))

Enter the first number :  3.14

<class 'float'>
3
<class 'int'>

## 5. Convert an integer 1 to a boolean and print the result.
#### Hint: bool(1) returns True

In [17]:
num1=1
print(type(num1))

boolValue=bool(num1)

print(boolValue)

print(type(boolValue))

<class 'int'>
True
<class 'bool'>

## 6. Convert the string "False" to a boolean. What happens?

In [18]:
string="false"
print(type(string))

boolValue=bool(string)

print(boolValue)

print(type(boolValue))

<class 'str'>
True
<class 'bool'>

## 7. Take a number from the user as a string, convert it to an integer, and multiply it by 2.

## 8. Take a floating-point number input, convert it to an integer, and print both the original and converted values.

In [1]:
num1=float(input("Enter the first number : "))

print(type(num1))

integerNUmber=int(num1)
print(num1)
print(integerNUmber)

print(type(integerNUmber))

Enter the first number :  9.5

<class 'float'>
9.5
9
<class 'int'>

## 9. Convert a number to a string and check its type using type().

In [4]:
num1=float(input("Enter the first number : "))
strin=str(num1)

print(strin)

print(type(strin))

Enter the first number :  8

8.0
<class 'str'>

## 11. Take two numbers from the user and add them as integers (not strings)

In [7]:
num1=int(input("Enter the first number : "))
num2=int(input("Enter the second number : "))

sum=num1+num2

print(sum)

Enter the first number :  5
Enter the second number :  5

10

## 12. Take a string input like "25.5" and convert it into both float and int. Print both results.

In [2]:
string="25.5"

print(string)
print(type(string))

floatNum=float(string)
print(floatNum)
print(type(floatNum))

integer=int(floatNum)
print(integer)
print(type(integer))

25.5
<class 'str'>
25.5
<class 'float'>
25
<class 'int'>

## 13. Convert a string like "123abc" to an integer. What error do you get?

In [15]:
string="123abc"

num1=int(string)

print(num1)

ValueError: invalid literal for int() with base 10: '123abc'

## 14. Take a string input, check if it’s numeric using .isnumeric(), and then convert to int if it is.

In [16]:
num1=input("Enter the first number : ")

print(type(num1))


print(num1.isnumeric())

print(int(num1))

Enter the first number :  45

<class 'str'>
True
45

## 15. Convert a float (e.g., 9.99) to int and then to string. Print each step.

In [20]:
num1=9.99

print(type(num1))

integerNUmber=int(num1)

print(integerNUmber)

print(type(integerNUmber))

string=str(num1)

print(string)

print(type(string))

<class 'float'>
9
<class 'int'>
9.99
<class 'str'>

---

## 1. Print a string literal that says “Learning Python is fun!”

In [21]:
string = "Learning Python is fun!”"

print(string)
print(type(string))
print()

Learning Python is fun!”
<class 'str'>

## 2. Create and print an integer literal and a float literal.
#### Example: 10, 3.14

In [22]:
integerNUmber=10

print(integerNUmber)
print(type(integerNUmber))
print()


floatNumber=3.14
print(floatNumber)
print(type(floatNumber))
print()

10
<class 'int'>

3.14
<class 'float'>

## 3. Create a string literal using single quotes and another using double quotes. Print both.

In [23]:
string1 = "Learning Python is fun!”"
string2 = 'Learning Python is fun!”'

print(string1)
print(string2)

Learning Python is fun!”
Learning Python is fun!”

## Create a boolean literal and print it.
#### Example: True, False

In [24]:
bolTrue=True
bolFalse=False

print(bolTrue)
print(bolFalse)

True
False

## 5. Create a variable with the value None and print it.

In [25]:
x1=None
print(x1)
print(type(x1))

None
<class 'NoneType'>

## 6. Print the type of the following literals using type():

####  "Hello"
####  10
####  3.5
####  True
####  None

In [26]:
print(type("hello"))

print(type(10))

print(type(3.5))

print(type(True))

print(type(None))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>
<class 'NoneType'>

## 8. Use string concatenation to join two string literals and print the result.

In [27]:
str01="how to learn  "
str02="Python programming  "

concatenation=str01+str02

print(concatenation)

how to learn  Python programming

## 9. Print a multi-line string using triple quotes (string literal)

In [29]:
print("Python is easy \n'''programming Languages'''")

Python is easy
'''programming Languages'''

## 10. Create a list of mixed literals: a number, a string, and a boolean. Print it.

In [33]:
list=[10,"string",True]

print(list)

[10, 'string', True]

## 12. What is the output of: print(None == 0) and print(None == False)? Try.

In [31]:
print(None==0)
print(None==False)

False
False

----------------------------------------------------